body {
    color: black;
    margin: 50px;
    background-color: #bdb76b;
    text-align: center;
    margin-top: 100px;
}

.h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bagian1 {
    height: 100px;
    background-color: plum;
}

.sec {
    margin-top: 70px;
    display: flex;
}

.bagian2 {
    width: 250px;
    height: 250px;
    margin-right: 50px;
    background-color: powderblue;
}

.bagian3 {
    flex: 3;
    background-color: cornflowerblue;
}

.fot {
    display: flex;
    margin-top: 70px;
}

.bagian4 {
    width: 250px;
    height: 250px;
    margin-right: 50px;
    background-color: darksalmon;
}

.bagian5 {
    flex: 3;
    background-color: limegreen;
}